@using System.Security.Claims;
@using WallpaperPortal.Helpers;
@model WallpaperPortal.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = Model.User.UserName;
}

<head>
    <link href="~/css/Profile.css" rel="stylesheet" />
</head>

<div class="profile container flex-row">

    <div class="sidebar flex-column">

        @await Html.PartialAsync("_UserCard", Model.User)

        @if (@Model.User.Id == @User.FindFirstValue(ClaimTypes.NameIdentifier) || @User.IsInRole("Admin"))
        {
            <form method="get" class="px-10 pb-5" asp-action="ChangeProfileImage" asp-controller="Users" enctype="multipart/form-data">
                <button class="animated-btn" type="submit">
                    <div class="flex-row justify-content-space-between align-items-center">
                        <span>Edit</span>
                        <span class="material-symbols-outlined">settings</span>
                    </div>
                </button>
            </form>
        }

        <div class="file-info">

            <div class="tag-list pt-5 px-10 pb-5">
                @foreach (var tag in Model.User.LikedTags)
                {
                    <div class="flex-row">

                        <a class="tag-list__link" asp-controller="File" asp-action="Files" asp-route-tags="@tag.Tag.Name">
                            <span class="tag-list__tag">
                                @tag.Tag.Name
                            </span>
                        </a>

                    </div>
                }
            </div>

        </div>

    </div>

    <div class="container">
        @if (Model.UploadedFiles.TotalCount > 0)
        {
            @await Html.PartialAsync("_FileGallery", Model.UploadedFiles.Items)
            <div class="pagination-container">
                @Html.PaginationLinks(Model.UploadedFiles)
            </div>
        }
        else
        {
            <div class="px-10 pt-5">
                <h3>The @Model.User.UserName has not uploaded any files yet</h3>
            </div>
        }
    </div>
</div>