@model WallpaperPortal.ViewModels.FileViewModel;

@using System.Security.Claims;
@{
    ViewData["Title"] = $"Download {string.Join(", ", Model.File.Tags.Select(t => t.Name))} wallpaper free";
}

@section metatags {
    <meta name="content" content="Download {@string.Join(", ", @Model.File.Tags.Select(t => t.Name))} wallpaper free" />
}

<head>
    <link href="~/css/File.css" rel="stylesheet" />
    <link href="~/css/_FileGallery.css" rel="stylesheet" />
</head>

<div class="file container flex-row">

    <div class="side-bar">

        @await Html.PartialAsync("_UserCard", Model.File.User)

        <div class="file-info pt-5 px-10">
            <div class="file-resolution mt-10">
                @Model.File.Width x @Model.File.Height
            </div>
            <div class="sub-file-info">
                <div>
                    @Model.File.CreationTime
                </div>
                <div>
                    @Math.Round((Model.File.Lenght / 1048576), 3)Mb
                </div>
            </div>

        </div>

        <form class="pt-5 px-10" method="post" asp-action="Download" asp-controller="File" asp-route-id="@Model.File.Id" enctype="multipart/form-data">
            <button class="animated-btn" type="submit">
                <div class="flex-row justify-content-space-between align-items-center">
                    <span>Download</span>
                    <span class="material-symbols-outlined">download</span>
                </div>
            </button>
        </form>

        @if (@Model.File.UserId == @User.FindFirstValue(ClaimTypes.NameIdentifier) || @User.IsInRole("Admin"))
        {
            <form class="pt-5 px-10" method="post" asp-action="Delete" asp-controller="File" asp-route-id="@Model.File.Id" enctype="multipart/form-data">
                <button class="animated-btn" type="submit">
                    <div class="flex-row justify-content-space-between align-items-center">
                        <span>Delete</span>
                        <span class="material-symbols-outlined">delete</span>
                    </div>
                </button>
            </form>
        }

        @if (Model.File.UserId == @User.FindFirstValue(ClaimTypes.NameIdentifier))
        {
            <form class="add-tag-form pt-5 px-10" method="post" asp-action="AddTag" asp-controller="File" asp-route-id="@Model.File.Id" enctype="multipart/form-data">
                <input name="tagName" />
                <button class="animated-btn" type="submit">
                    <div class="flex-row justify-content-center align-items-center">
                        <span class="material-symbols-outlined">add_box</span>
                    </div>
                </button>
            </form>
        }

        <div id="tagList" class="pt-5 px-10 pb-5">
            @foreach (Tag tag in Model.File.Tags)
            {
                <div class="flex-row">
                    <a asp-controller="File" asp-action="Files" asp-route-tag="@tag.Name">
                        <span class="tag-element">
                            @tag.Name
                        </span>
                    </a>
                    @if (Model.File.UserId == @User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <form method="post" asp-action="RemoveTag" asp-controller="File" asp-route-id="@Model.File.Id" asp-route-tagName="@tag.Name" enctype="multipart/form-data">
                            <button class="delete-tag-btn" type="submit">
                                <div class="flex-row justify-content-center align-items-center">
                                    <span class="material-symbols-outlined">close</span>
                                </div>
                            </button>
                        </form>
                    }
                </div>
            }
        </div>
    </div>

    <div class="container flex-row justify-content-center align-items-center">
        <img class="image-box_img" src="@Model.File.Path" alt="Wallpaper @string.Join(", ", Model.File.Tags.Select(t => t.Name)) download free">
    </div>

    <div class="side-bar">
        @if (Model.SimilarFiles.Count() > 0)
        {
            <div class="similar-files">
                @foreach (var file in Model.SimilarFiles)
                {
                    <div class="file-gallery_container">
                        <a asp-action="File" asp-controller="File" asp-route-id="@file.Id">
                            <img class="container file-gallery_img" src="@file.PreviewPath" alt=$"Wallpaper @string.Join(", ", @file.Tags.Select(t => t.Name)) download free">
                        </a>
                        <div class="file-gallery_conainer-overlay">
                            @file.Width x @file.Height
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
