@model IEnumerable<File>


<div class="file-gallery">
	@foreach (var file in Model)
	{
		<div class="file-gallery__container">

			<a asp-action="File" asp-controller="File" asp-route-id="@file.Id">
				<img class="container file-gallery__img" src="@file.PreviewPath" alt=$"Wallpaper @string.Join(", ", @file.Tags.Select(t => t.Name)) download free">
			</a>

			<div class="file-gallery__conainer-overlay">
				@file.Width x @file.Height
			</div>

		</div>
	}
</div>